doctype 5
html(manifest='application.manifest')

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  title SweetPi
  link(rel='stylesheet', href='jquery.mobile-1.2.0.min.css')
  link(rel='stylesheet', href='css/style.css')
  //- link(rel='stylesheet', href='themes/AndroidHoloDarkLight.min.css')
  //- link(rel='stylesheet', href='roboto/fonts.css')
  script(src='jquery.min.js')
  script(src='jquery.mobile-1.2.0.min.js')  
  script(src='socket.io/socket.io.js')
  script(src='js/main.js')
      
body
  div(data-role='page')
    div(data-theme='a', data-role='header', data-position='fixed')
      a#talk.ui-btn-right(data-role='button', href='#outlet-control', style='display: none;') Sprechen
      h3 Sweet Pi Control
    div(data-role='content')
      ul(data-role='listview', data-inset='true')
        - for actuator in actuators
          li(data-role="fieldcontain")
            label(for="flip-"+actuator.id)=actuator.name
            select.switch(name="flip-"+actuator.id, id="flip-"+actuator.id, 
                          data-role="slider", data-track-theme="c", data-actuator-id=actuator.id)
              option(value="turnOff")='Off'
              option(value="turnOn")='On'